<a href="https://colab.research.google.com/github/Chirashree14/Python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 3
b = 2.45
c = "Jhilik"
print(a,b,c)
print(type(a))
print(type(b))
print(type(c))

3 2.45 Jhilik
<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#Operators
#arithmetic Operators(+,-,*,/)
#Comparison Operator(==, <=, >=, !=)
#Assignment operator(+=, -=, *=, /=)
#Addition of two numbers using user input function
a = int(input("Enter a value"))
b = int(input("Enter b value"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

Enter a value3
Enter b value4
7
-1
12
0.75

In [ ]:
# Wap to calculate the area of a circle
r = int(input("Enter the radius of the circle"))
A = 3.14 * r*r
print("Area of the circle is : ",A)

Enter the radius of the circle3
Area of the circle is :  28.259999999999998

In [ ]:
#Wap to calculate the temperature value from celcious to farenhite
Celcious = float(input("Enter the value of the temperature in Celcious: "))
Fahrenheite = (Celcious * 9/5) + 32
print(f"{Celcious} degree Centigrade is equal to {Fahrenheite} degree fahrenheite")

Enter the value of the temperature in Celcious: 32
32.0degree Centigrade is equal to 89.6degree fahrenheite

In [ ]:
#Wap to calculate the simple interest of a principle amount
P = float(input("Enter the Principle amount:"))
r = float(input("Enter the rate: "))
t = float(input("Enter the time : "))
simpleInterest = ( P * r * t ) / 100
print(f"Simple Interest of the principle amount is : {simpleInterest}")

Enter the Principle amount:400
Enter the rate: 2
Enter the time : 2
Simple Interest of the principle amount is : 16.0

In [ ]:
# Input values
principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the rate of interest: "))
time = float(input("Enter the time period in years: "))

# Calculate simple interest
simple_interest = (principal * rate * time) / 100

# Output the result
print(f"The simple interest is: {simple_interest}")

Enter the principal amount: 400
Enter the rate of interest: 2
Enter the time period in years: 2
The simple interest is: 16.0

In [ ]:
#List
a =[2,3.4,True,9j,'python']
print(a)
print(type(a))
print(len(a))

[2, 3.4, True, 9j, 'python']
<class 'list'>
5

In [ ]:
#modify the item value on list
a[4] = False
print(a)
a[-2] = 'Java'
print(a)

[2, 3.4, True, 9j, False]
[2, 3.4, True, 'Java', False]

In [ ]:
#add new item on list- append function
a.append("Hello World")
print(a)

[2, 3.4, True, 'Java', False, 'Hello World']

In [ ]:
#Eliminate any data in list - remove & pop
a.remove(False)
print(a)

[2, 3.4, True, 'Java', 'Hello World']

In [ ]:
a.pop(2)
print(a)

[2, 3.4, 'Java', 'Hello World']

In [ ]:
b = [2,9,4,1,6,3,5]
b.sort()
print(b)

[1, 2, 3, 4, 5, 6, 9]

In [ ]:
b.sort(reverse = True)
print(b)

[9, 6, 5, 4, 3, 2, 1]

In [ ]:
b.sort(reverse = False)
print(b)

[1, 2, 3, 4, 5, 6, 9]

In [ ]:
b.clear()
print(b)

[]

In [ ]:
#Create a list & find the maximum number on a list
z = [232, 454, 347, 963, 656,492, 433, 563]
print(type(z))
print(z)
z.sort()
print(z)
print(z[-1])
z.sort(reverse = False)
print(z)
print(f"The maximum number on the list is : {z[-1]}")

<class 'list'>
[232, 454, 347, 963, 656, 492, 433, 563]
[232, 347, 433, 454, 492, 563, 656, 963]
963
[232, 347, 433, 454, 492, 563, 656, 963]
The maximum number on the list is : 963

In [ ]:
#Tuple
tuple1 = (2,3.4,True,9j,'python')
print(tuple1)
print(type(tuple1))

(2, 3.4, True, 9j, 'python')
<class 'tuple'>

In [ ]:
y = list(tuple1)
y[-1] = True
print(y)
y.append('Hey Jhilik')
y = tuple(y)
print(y)

[2, 3.4, True, 9j, True]
(2, 3.4, True, 9j, True, 'Hey Jhilik')

In [ ]:
#Wap create one tuple and use append,pop, and clear method on a tuple
tuple2 = (2,3.4,True,9j,'Asharam_Mahato')
print(tuple2)
print(type(tuple2))
s = list(tuple2)
s.append('Khelaram_Mahato ')
print(s)
s.pop(-5)
print(s)
s.clear()
print(s)
print(type(s))
tuple2 = tuple(s)
print(tuple2)
print(type(tuple2))

(2, 3.4, True, 9j, 'Asharam_Mahato')
<class 'tuple'>
[2, 3.4, True, 9j, 'Asharam_Mahato', 'Khelaram_Mahato ']
[2, True, 9j, 'Asharam_Mahato', 'Khelaram_Mahato ']
[]
<class 'list'>
()
<class 'tuple'>

In [ ]:
#Set
set1 = {2,3.4,True,9j,'python'}
print(set1)
print(type(set1))

{True, 2, 3.4, 9j, 'python'}
<class 'set'>

In [ ]:
# remove pop or popitem
set1.remove(9j)
print(set1)

{False, True, 2, 3.4, 'python'}

In [ ]:
#Wap adding 2 sets using update union
set1 = {23, 34,45 }
set2 = {False, 56,67,99, 'data'}
set1.update(set2)
print(set1)
set3 = {89,78,67}
set4 = set2.union(set3)
print(set4)

{False, 34, 99, 67, 'data', 45, 23, 56}
{False, 99, 67, 'data', 56, 89, 78}

In [ ]:
#add 1 set & 1 tuple

In [ ]:
#dict
dict1 = {
    "Student Name": "Chirashree",
    "roll": 11,
    "Sub": "DSA",
    "Marks": 90,
    "Passout year": 2027
}

print(dict1)
print(type(dict1))

{'Student Name': 'Chirashree', 'roll': 11, 'Sub': 'DSA', 'Marks': 90, 'Passout year': 2027}
<class 'dict'>

In [ ]:
dict1 = {
    "Student Name": "Chirashree",
    "roll": 11,
    "Sub": ["DSA", "DAA", "Maths"],
    "Marks": 90,
    "Passout year": 2027
}

print(dict1)
print(type(dict1))

{'Student Name': 'Chirashree', 'roll': 11, 'Sub': ['DSA', 'DAA', 'Maths'], 'Marks': 90, 'Passout year': 2027}
<class 'dict'>

In [ ]:
dict2 = {
    "Student Name" : "Rekha Mahato",
    "Roll No" : 184,
    "Subject" : ["DAA", "DSA", "OS"] ,
    "Passing Year" : 2027
}
dict2["Roll No"] = 10
dict2["Subject"].append("Physics")
dict2["Country"] = ("India")
print(dict2)
print(type(dict2))

{'Student Name': 'Rekha Mahato', 'Roll No': 10, 'Subject': ['DAA', 'DSA', 'OS', 'Physics'], 'Passing Year': 2027, 'Country': 'India'}
<class 'dict'>

In [ ]:
#Wap to create a dict, remove any item and use clear function to create empty dict
dict = {
    "Student Name": "Chirashree",
    "roll": 11,
    "Sub": ["DSA", "DAA", "Maths"],
    "Marks": 90,
    "Passout year": 2027
}
dict.pop("Passout year")
print(dict)
dict.clear()
print(dict)

{'Student Name': 'Chirashree', 'roll': 11, 'Sub': ['DSA', 'DAA', 'Maths'], 'Marks': 90}
{}

In [ ]:
#loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Skipping 2 numbers
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [ ]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(1,11,5):
    print(i)

1
6

In [ ]:
#for Loop to print first 10 number's sum
sum = 0
for i in range(1 , 11) :
    sum = sum + i
print(f"The sum of first 10 numbers is :{sum}")

The sum of first 10 numbers is :55

In [ ]:
for i in dict2.items() :
  print(i)

('Student Name', 'Rekha Mahato')
('Roll No', 10)
('Subject', ['DAA', 'DSA', 'OS', 'Physics'])
('Passing Year', 2027)
('Country', 'India')

In [ ]:
#Print first 10 natural number's summation using while loop
#Print first 10 natural number's summation using while loop
sum = 0
i = 1
while i <= 10:

    i += 1
    sum = sum + i
print(f"Sum of first 10 natural number is : {sum}")

Sum of first 10 natural number is : 65

In [ ]:
#Wap to check the number is palindrome or not using while loop

#Wap to check the number is palindrome or not using while loop
x = int(input("Enter a number: "))
Num = x;
rev_num = 0
while Num > 0 :
  digit = Num % 10
  rev_num = rev_num *10 + digit
  x = x / 10

if Num == rev_num :
    print(f"{Num} is a Palindrome number")
else :
    print(f"{Num} is not a palindrome number")

Enter a number: 232

In [ ]:
# Input number from the user
num = int(input("Enter a number: "))
original_number = num
reversed_number = 0

# Reverse the number using a while loop
while num > 0:
    digit = num % 10
    reversed_number = reversed_number * 10 + digit
    num = num // 10

# Check if the original number and reversed number are the same
if original_number == reversed_number:
    print(f"{original_number} is a palindrome.")
else:
    print(f"{original_number} is not a palindrome.")

In [23]:
#PATTERN
for i in range(1,6) :
  print("*"*i)

*
**
***
****
*****

In [ ]:
for i in range(6,0,-1) :
  print("*"*i)